body {
  background-color: white;
}

.selecthide {
  color: white;
}

.num {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  background: red;
  float: left;
  margin-right: 1em;
  background: transparent url(slotnumbers.png) 0 0px repeat-y;
}

.prize {
  cursor: pointer;
}

#prizes .winner {
  border: 3px solid black;
/*  width: 7em; */
  height: 1em;
  text-align: center;
}

.debuginfo {
  display: none;
}

#showtime {
  display: none;
}

#prizeinfo {
  font-size: 10em;
}

.prize {
  font-size: 5em;
}

#prizes .amount {
  font-weight: bold;
  text-align: right;
}

#prizes {
  position: absolute;
  right: 0px;
  top: 0px;
}

.clear {
  clear: both;
}
